* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
}

/* =========== navigation ============ */
.navigation {
  display: flex;
  justify-content: center;
  list-style: none;
}

.navigationLink {
  text-transform: uppercase;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}

.navigationLink a {
  padding: 10px;
  width: 100px;
  text-decoration: none;
  color: white;
}

.activeNavigationLink {
  background-color: #6e4e24;
  border: 1px solid #bb8846;
  border-radius: 5px;
}

/* =========== productForm ============== */

.productForm {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.formInput {
  width: 150px;
  height: 40px;
  margin-right: 10px;
  padding-left: 5px;
  border-radius: 4px;
}

.formInput::placeholder {
  padding-left: 5px;
  font-size: 16px;
}

.formButton {
  width: 150px;
  padding: 5px;
  background-color: #eea341;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* ========== pages ================ */
.content {
  padding: 15px;
}

.pageTitle {
  color: white;
}

/* ============ productsPage =============== */
.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
.productListItem {
  padding: 10px;
  margin-bottom: 30px;
  width: 150px;
  height: 100px;
  text-align: center;
  background-color: white;
  border: 1px solid white;
  border-radius: 14px;
}

.productListItem:not(:last-child) {
  margin-right: 30px;
}

.productListItem h2 {
  margin-bottom: 10px;
}
